/* Main Container */
app-wrapper {
  text-align: center;
}

app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  app-logo {
    animation: rotate-logo infinite 20s linear;
  }
}

header-section {
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

highlight-text {
  color: #61dafb;
}

@keyframes rotate-logo {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

